
html, body {
    margin: 0;
    height: 100%;
  }

.App {
  margin: auto;
  width: 50%;
  padding: 10px;
  height: 100%;

  /*padding-top: 330px;*/
  /*padding-left: 60px;*/
}

.App-info {
  /*text-align: center;*/

}

.App-interaction .row{
  
  
  display: inline-block;
  /*flex-direction: row; 
  align-items: center;
  justify-content: center;*/
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.Access-O {
  background-color: blue;
  /*display: column;*/
  /*float: left;*/
}

.Access-AF{
  background-color: blueviolet;
}

.Access-S {
  background-color: grey;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


